$top-panel-color: grey;
$footer-bar-color: white;
$card-border-radius: 8px;

.topic-panel {
  border-radius: $card-border-radius;
  min-height: 240px;

  .top-panel {
    background-color: $top-panel-color;
    border-radius: $card-border-radius $card-border-radius 0 0;

    #description {
      margin-left: 1rem;
    }
  }

  .footer-bar {
    background-color: $footer-bar-color;
    border-radius: 0 0 $card-border-radius $card-border-radius;
    height: 50px;
  }
}
