$white-color: white;
$transparent-color: transparent;
$logo-btn-hover: rgb(226, 225, 225);
$login-btn-text-color: #0D5EFD;
$login-btn-color: rgb(208, 235, 255);
$login-btn-hover-color: rgb(186, 209, 228);
$login-btn-active-color: rgb(153, 183, 207);
$sign-up-btn-color: rgb(10, 149, 255);
$sign-up-btn-hover-color: rgb(13, 124, 209);
$sign-up-btn-active-color: rgb(15, 92, 180);

.login-button {
  border: none;
  background-color: $login-btn-color;
  padding: 9px;
  border-radius: 8px;
  margin-right: 10px;
  &:hover {
    background-color: $login-btn-hover-color;
    color: $login-btn-text-color;
  }
  &:active {
    background-color: $login-btn-active-color;
  }
}
.sign-up-button {
  border: none;
  background-color: $sign-up-btn-color;
  color: $white-color;
  padding: 9px;
  border-radius: 8px;
  &:hover {
    background-color: $sign-up-btn-hover-color;
  }
  &:active {
    background-color: $sign-up-btn-active-color;
    color: $white-color;
  }
}
.home-button {
  display: flex;
  align-items: center;
  background-color: $transparent-color;
  border: none;
  &:hover {
    background-color: $logo-btn-hover;
  }
}
