<header id="main-header" class="p-3 mb-3 border-bottom bg-white fixed-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img class="bi me-2" width="40" height="32" src="assets/images/logo.png">
        <a class="nav-link link-dark fw-bold">Studless</a>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="nav-link px-4 link-dark">Home</a></li>
        <li><a routerLink="search" class="nav-link px-1 link-dark">Questions</a></li>
      </ul>

      <form class="col-10 col-lg-6 mb-3 mb-lg-0 m-auto">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <div *ngIf="isLogged; else buttons" class="d-flex">
          <a [routerLink]="['profile', userId]" class="d-block link-dark text-decoration-none" aria-expanded="false">
            <img src="assets/images/profile-logo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            <span class="mx-1">{{userName}}</span>
          </a>
          <i class="ms-2" (click)="onLogout()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
              <path fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg></i>
        </div>
        <ng-template #buttons>
          <button type="button" routerLink="login" class="btn btn-outline-primary me-2 login-button">Login</button>
          <button type="button" routerLink="signup" class="btn sign-up-button">Sign-up</button>
        </ng-template>
      </div>
    </div>
  </div>
</header>