body {
    background-color:#f1f2f4;
}

hr {
    opacity: 30%;
}

.main-content {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 15px;
    display: flex;
    font-family: sans-serif;
}
.main-content > * {
    margin-right: 50px;
}
.main-content > *:last-child {
    margin-right: 0;
}

.topics-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px 15px;
}

.topic-panel {
    height: 240px;
    display: flex;
    flex-direction: column;
}

.topic-top-panel {
    background-color: grey;
    height: 120px;
    width: 230;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
}
.topic-top-panel h4 {
    color: white;
}
.topic-top-panel p {
    color: white;
}
.topic-top-panel a {
    color: white;
}

.topic-heading {
    margin: 20px 20px 0 25px;;
    font-weight: 800;
}

.topic-description {
    margin: 10px 20px 0 35px;
}

.topic-last-question {
    margin: auto 20px 15px 25px;
}

.topic-fotter-bar {
    background-color: white;
    height: 50px;
    display: flex;
    border-radius: 0 0 8px 8px;
}

.topic-link {
    margin-left: auto;
    justify-content: center;
    display: flex;
}

.topic-link-icon {
    margin-right: 8px;
}

.topic-link-text {
    margin-right: 18px;
}

.question {
    display: flex;
}

.question-avatar {
    height: 36px;
    width: 36px;
}

.question-right-part {
    margin-left: 10px;
}

.question-heading {
    margin: 0;
}

.question-metadata {
    font-size: 12px;
}
.question-metadata > * {
    display: inline-block;
    margin: 0;
    margin-right: 5px;
}
.question-metadata > *:last-child {
    margin-right: 0;
}

.last-questions-list > * {
    margin-bottom: 20px;
    padding: 0 10px;
}
.last-questions-list > hr {
    padding: 0;
}
.last-questions-list > *:last-child {
    margin-bottom: 0;
}

.forum-statistics > * {
    margin-bottom: 5px;
    padding: 0 10px;
}
.forum-statistics > hr {
    padding: 0;
}
.forum-statistics > *:last-child {
    margin-bottom: 0;
}

.statistic {
    display: flex;
}
.statistic > * {
    margin-top: 0;
    margin-bottom: 5px;
    box-sizing: border-box
}
.statistic > *:last-child {
    margin-bottom: 0;
}


.statistic-value {
    margin-left: auto;
}

@media (max-width: 570px) {
    .topics-section{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}