body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #e9ebef;
}
p, h6{
    margin: 0;
}

.user-section{
    align-items: center;
    width: 950px;
    height: 600px;
    margin-top: 15px;
    box-shadow: 0px 6px 50px rgba(217,229,255,255);
}
.general-user-info{
    position: relative;
    width: 950px;
    height: 53%;
    background: #ffffff;
    border-radius: 19px;
}
.user-background{
    height: 65%;
    width: 100%;
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
}
.user-avatar{
    position: absolute;
    left: 15px;
    width: 16%;
    bottom: 15px;
    height: 50%;
    border: 1px solid #646565;
    border-radius: 22px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
}
.user-name{
    position: absolute;
    bottom: 115px;
    left: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: #535353;
    -webkit-text-stroke-width: 0.7px;
    margin-bottom: 5px;
}
.status{
    width: fit-content;
    background-color: #4169E1;
    border: 2px solid #3758CD;
    color: #ffffff;
    font-size: 12px;
    border-radius: 7px;
    padding: 3px;
    
    margin-bottom: 5px;
}
.profile-activity{
    position: absolute;
    width: 77%;
    height: 50px;
    bottom: 50px;
    left: 190px;
    display: flex;
    flex-direction: row;
}
.items{
    height: 100%;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.default-text{
    color: #8F8686;
    font-size: 12px;
    padding-bottom:10px ;
}
.default-bold-text{
    color:#0b0b0b;
    font-size: 13px;
    padding-bottom: 10px;
}
.activity-ref{
    color:#0b0b0b;
    text-decoration: none;
    font-size: 13px;
    padding-bottom: 10px;
    
}
.activity-ref:hover{
    text-decoration:underline;
}
.horizontal-line{
    width: 77%;
    height: 1.5px;
    position: absolute;
    bottom: 50px;
    left: 190px;
    background-color: #c9c8c8;
}
.user-status{
    position: absolute;
    width: fit-content;
    height: 50px;
    bottom: -5px;
    left: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.join-date, .online-status{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}
.general-user-activity{
    width: 100%;
    height: 45%;
    background: #ffffff;
    border-radius: 19px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.activity-answers{
    margin-left: 15px;
    margin-top: 15px;
    width: 47.5%;
}
.activity-questions{
    margin-left: 15px;
    margin-top: 15px;
    width: 47.5%;
}
.activity-tags{
    margin-left: 15px;
    margin-top: -5px;
    width: 47.5%;
}
.activity-reputation{
    margin-left: 15px;
    margin-top: -5px;
    width: 47.5%;
}
.activity-title, .sort-by{
    display: inline-block;
    margin-bottom: 7px;
}
.activity-title{
    margin-left: 15px;
    font-size: 21px;
    font-weight:400;
}
.sort-by{
    float: right;
    position: relative;
    vertical-align: top;
    margin-top: -3px;
}
.sort-by :hover{
    background-color: #c2c2c2;
}
.sort-by :active{
    background-color: #9c9c9c;
}
.sort-answers-score-button{
    margin: 0;
    padding: 7px;
    position:absolute;
    right: 105px;
    background-color: #ffffff;
    border: 1px solid #ADADAD;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 11px;
    color: #5E5D5D;
}
.sort-activity-button{
    margin: 0;
    padding: 7px;
    position:absolute;
    right: 55px;
    background-color: #ffffff;
    border: 1px solid #ADADAD;
    font-size: 11px;
    color: #5E5D5D;
}
.sort-newest-button{
    margin: 0;
    padding: 7px;
    position:absolute;
    right: 5px;
    background-color: #ffffff;
    border: 1px solid #ADADAD;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 11px;
    color: #5E5D5D;
}
.sort-questions-score-button{
    margin: 0;
    padding: 7px;
    position:absolute;
    right: 149px;
    background-color: #ffffff;
    border: 1px solid #ADADAD;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 11px;
    color: #5E5D5D;
}
.sort-view-button{
    margin: 0;
    padding: 7px;
    position:absolute;
    right: 105px;
    background-color: #ffffff;
    border: 1px solid #ADADAD;
    font-size: 11px;
    color: #5E5D5D;
}
.activity-field{
    height: 80px;
    border: 1px solid #A19D9D;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.activity-field-text, .activity-field-ref{
    display: inline-block;
}
.activity-field-text{
    font-size: 12px;
}
.activity-field-ref{
    text-decoration: none;
    font-size: 12px;
    color: #2945DD;
}
.activity-field-ref:hover{
    color: #0c1f8a;
}
.activity-field-ref:active{
    color: #545e98;
}