body {
  margin-left: 0;
}

button {
  transition: background-color 0.15s, color 0.15s;
}

.text-white {
  h1 {
    color: white;
  }

  h2 {
    color: white;
  }

  h3 {
    color: white;
  }

  h4 {
    color: white;
  }

  h5 {
    color: white;
  }

  p {
    color: white;
  }

  a {
    color: white;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
